{
  "extends": ["standard", "standard-jsx"],
  "parser": "babel-eslint",
  "plugins": [
    "babel"
  ],
  "rules": {
    "babel/arrow-parens": 2,
    "arrow-parens": 0
  },
  "env": {
    "node": true,
    "mocha": true
  },
  "globals": {
    "define": true,
    "ace": true
  }
}